@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

#main{
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-bottom: 5px;
}

#header{
  top: 0;
  position: fixed;
  background: white;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
}

#header-img{
  position: absolute;
  top: 5px;
  left: 0px;
}

#body{
  padding-top: 115px;
  padding-left: 250px;
  padding-right: 250px;
}

#title{
  text-align: center;
  margin-top: -115px;
  padding-top: 115px;
}

#contact{
  text-align: center;
}

.nav-link{
  text-decoration: none;
  color: black;
}

#graphic{
  font-size: 20px;
  color: #001778;
}

#submit{
  background-color: #f1c40f;
  max-width: 75px;
  height: 30px;
  margin: 15px 0;
  border: 0;
  border-radius: 15%;
}

#features {
  margin-top: 30px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

.topics{
  display: flex;
  border: 1px black solid;
  padding: 10px;
  flex-direction: column;
  align-items: left;
}
.Lit{
  flex: 1;
  order: 1;
}
.Sci{
  flex: 1;
  order: 2;
}
.Hist{
  flex: 1;
  order: 3;
}
.Geo{
  flex: 1;
  order: 4;
}
.Trash{
  flex: 1;
  order: 5;
}
.Math{
  flex: 1;
  order: 6;
}
.FA{
  flex: 1;
  order: 7;
}
.Other{
  flex: 1;
  order: 8;
}
