#main{
    display:flex;
    flex-direction: column;
}
#navbar{
    position: fixed;
    top: 0px;
    width: 90%;
    text-align: right;
}
a{
    text-decoration: none;
    color: black;
}
#welcome-section{
    margin-top: 100px;
    height: 100vh;
    width: 100vw;
    text-align: center;
}
#profile-pic{
    border-radius: 25%;
    width: 350px;
    height: 250px;
    max-width: 100%;
}
#projects{
    height: 100vh;
    width: 100vw;
    background-color: #F7F7F8;
}
