@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";
#main-doc{
    font-family: Roboto, sans-serif;
}
code{
    background-color: #F7F7F7;
}
header{
    font-weight: bold;
    font-size: 24px;
}
#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
  }
  
  #navbar a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
  }

  .nav-link{
      color: black;
      border-top: solid;
      border-color:black;
      border-width: 1px;
  }
  #resources-link{
      border-bottom: solid;
      border-color: black;
      border-width: 1px;
  }

  #body{
      padding-left: 215px;
  }

.media{
    display: block;
     margin-left: auto;
     margin-right: auto;
}